.uploadImage{
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
}
.uploadImage-form{
    height: 75vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.uploadImage-outerbar{
    width: 33%;
}